.input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #000000;
    box-sizing: border-box;
}

.button {
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}